@font-face {
    font-family: 'nixie-one';
    src: url(assets/fonts/NixieOne-Regular.ttf) format('ttf');
}

:root {
    --background-primary : rgba(0, 0, 0, 0.9);
}

html {
    font-family: 'nixie-one';
    background: url('assets/pexels-alan-kabeš-17095230.jpg');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(206, 204, 201);
}


/* Header */
header {
    height: 10vh;
    width: 100%;
    background-color: var(--background-primary);
    line-height: 10vh;
    display: flex;
    justify-content: space-between;
}

header > h1 {
    display: inline;
    font-size: 2rem;
    padding: 0 1rem;
}

header > ul {
    display: inline-flex;
    /* justify-content: flex-end; */
    gap: 1.5rem;
    padding-right: 1rem;
    font-size: 1.5rem;
}

li {
    list-style-type: none;
    cursor: default;
    text-transform: uppercase;
    font-weight: bold;
    transition: transform 0.3s;
}

header li:hover,
header li.active {
    color: whte;
}

header li.active {
    border-bottom: 2px solid white;
}

header li:hover {
    transform: translateY(-10%);
}


/* Home */

#home-container {
    height: 60vh;
    width: 40vw;
    background-color: var(--background-primary);
    margin: 5vh auto 0 auto;
    text-align: center;
    border-radius: 10px;
}

#home-container > h2 {
    padding-top: 5vh;
}

#home-item-holder {
    width: 90%;
    height: 40%;
    margin: 2vh auto 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.item {
    margin-top: 2vh;
    border: 2px solid white;
    position: relative;
    aspect-ratio: 1 / 1;
}

.item img {
    width: 80%;
    height: 80%;
    position: relative;
    top: 25.7px;
}

.overlay {
    opacity: 0;
    position: absolute;
    background-color: rgba(50, 145, 41, 0.6);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px);
    transition: all 0.6s;
}

.item,
.overlay {
    border-radius: 10px;
}

.item:hover .overlay {
    opacity: 1;
  }

.overlay {
    padding-top: 2rem;
}

.overlay > .hidden-text {
    padding: 0.3rem 0 0.7rem ;
    color: white;
}


.overlay-btn {
    padding: 0.2rem 1rem;
    width: 50%;
    margin: 0 auto;
    border: 1px solid black;
    background-color: transparent;
}

.overlay-btn:active {
    background-color: black;
}

.see-more {
    margin-top: 3rem;
    border: none;
    padding: 1rem 2rem;
    background: lightskyblue;
    color: black;
    border-radius: 5px;
    align-self: center;
}

.see-more:active {
    transform: scale(0.9);
}

/* Menu container */
#menu-container {
    margin: 5vh auto 0 auto;
    background-color:var(--background-primary);
    width: 70vw;
    height: 80vh;
    overflow: auto;
    /* height: 80vh; */
    margin: 5vh auto 0 auto;
    border-radius: 10px;
    text-align: center;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#menu-container > h2 {
    padding-top: 2rem;
    font-size: 2rem;
}

#menu-container::-webkit-scrollbar {
    display: none;
}

.items-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    grid-template-rows: auto;
    justify-content: center;  
    gap: 2rem 3rem;
    padding: 1rem;

}

.price {
    color: goldenrod;
    font-size: 2rem;
}

.bottom-button {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15%;
    background-color: rgb(16, 73, 16);
    border: transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bottom-button:active {
    background-color: rgb(12, 58, 12);
}

/* About */

#about-container {
    height: 40vh;
    width: 40vw;
    background-color: var(--background-primary);
    margin: 5vh auto 0;
    text-align: center;
    border-radius: 10px;
}

#about-container > h2 {
    padding: 1rem 0;
}

#about-container > p {
    width: 80%;
    margin: 0 auto 1rem;
    font-size: 1.2rem;
    
}

.social-media-list {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 1rem;
}

.social-media-icon {
    height: 64px;
}

.social-media-icon:active {
    transform: scale(0.95);
}